html {
  box-sizing: border-box;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: Roboto, Arial, sans-serif;

  color: #000000;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p, figure, fieldset {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

section {
  padding: 25px 0;
  font-size: 0;
}


